  <%= render "/nav" %>
  <main class="" id="main-collapse">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer">
          <h2>RSVP</h2>
        </div>
        <div class="section-container-spacer">
          <%= form_tag('/guests/rsvp', method: :post) do%>
            <% @guests.each_with_index do |guest, i| %>
              <% not_attending_selected = guest.attending != nil && !guest.attending %>
              <%= hidden_field_tag("guest[id][]", guest.id)%>
              <div class="template-example">
                <h2 class="template-title-example"><%= guest.fullname %></h2>
                <div class="form-group">
                  <%= radio_button_tag("guest[attendance][#{guest.id}]", true, guest.attending, required: true, id: "guest_attendance_true_#{guest.id}")%>
                  <label class="radio-label" for=<%= "guest_attendance_true_#{guest.id}" %>> Attending</label>
                </div>
                <div class="form-group">
                  <%= radio_button_tag("guest[attendance][#{guest.id}]", false, not_attending_selected, required: true, id: "guest_attendance_false_#{guest.id}")%>
                  <label class="radio-label" for=<%= "guest_attendance_false_#{guest.id}" %>> Regrets</label>
                </div>
                <div class="form-group">
                  <label>Any dietary restrictions?</label>
                  <%= text_field_tag "guest[diet][#{guest.id}]", guest.dietary_restrictions, placeholder: 'Dietary Restrictions', class: 'form-control' %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <h4>Any additional notes or comments?</h4>
              <%= text_area_tag 'guest[group_notes]', @group.notes, placeholder: 'Notes or Comments', class: 'form-control'%>
            </div>
            <%= submit_tag 'Submit', class: 'btn btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
