<%= render "/nav" %>
<main class="" id="main-collapse">
  <div class="row">
    <div class="col-xs-12 col-md-6 home-container">
      <%= render "/header"%>
        <div class="rsvp-container">
          <h4>RSVP</h4>
          <div class="rsvp-info">
            <p>
              Please RSVP below by typing in your full name or the full name of anyone in your family or group.
            </p>
            <p>We request your RSVP by Sunday, December 16th!</p>
          </div>
          <%= form_tag('/guests/search', method: :get, class: 'reveal-content rsvp-form') do %>
            <div class="form-group rsvp-form-group">
              <%= text_field_tag "guest[name]", nil, placeholder: 'Your Full Name', class: 'form-control' %>
            </div>
            <%= submit_tag 'Search', class: 'btn btn-primary btn-lg' %>
          <% end %>
          <% if @error %>
            <div class="search-error">
              Sorry, we couldn't find that name on the guest list. Please make sure you are entering your
              <span class="underline">full name</span>, or reach out to joshling1919@gmail.com to resolve this!
            </div>
          <% end %>
          <div class="rsvp-constraints">
            <p>
              Due to space constraints, we are limiting guests (both adults and children) to only those who are specified by name on your family or group’s RSVP list.
            </p>
            <p>If you have any trouble or further questions, please don’t hesitate to reach out to us by texting <strong>(972)-804-2345</strong>.</p>
          </div>
        </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="/assets/rsvp.jpg">
      <div class="photo-credit">
        Photo by <a target="_blank" rel="noopener noreferrer" href="http://www.centurytreeproductions.com/">Century Tree Productions</a>
      </div>
    </div>
  </div>
</main>

